.socialIcons {
  flex-direction: row;
  display: flex;
  padding: 0;
  margin: 0 16px 0 4px;

  @media screen(xl) {
    margin: 0 24px 0 12px;
  }

  @media screen(md) {
    margin: 0 16px 0 0;
  }

  @media screen(sm) {
    margin: 0 16px 0 4px;
  }
}

.socialIcon {
  display: block;
  width: 24px;
  height: 24px;
  color: #6f7685;
  margin: 0;

  @media screen(md) {
    width: 20px;
    height: 20px;
    padding: 6px;
  }

  svg {
    width: inherit;
    height: inherit;
  }
}
