name: Publish Package to npmjs
on:
  workflow_dispatch:
  pull_request:
    types: [closed]
jobs:
  release:
    if:
      github.event_name == 'workflow_dispatch'
      ||  (github.event.pull_request.merged && startsWith(github.head_ref,
      'bump-theme-package/'))
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
          registry-url: 'https://registry.npmjs.org'
          scope: '@dvcorg'
      - run: |
          cd ./packages/gatsby-theme-iterative
          gh release create v$(node -p "require('./package.json').version") --generate-notes
          yarn publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
